*#
*.aux
*.bbl
*.blg
*.el
*.gz
*.idx
*.ilg
*.ind
*.log
*.maf
*.mtc*
*.pdf
*.toc
*_region_.tex
*~
/texto/auto
/texto/documentos_antiguos
Bibliografia/
comentarios/
revisiones

!/texto/SRT_en_Haskell.pdf

